/*add elements and emphasis*/
:root {
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

body {
  color: var(--text-secondary);
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
}

em {
  font-weight: bold;
  color: lightskyblue;
}

/*styling the scrollbar*/
body::-webkit-scrollbar {
  width: 0.2rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: lightskyblue;
}
/*end styling scrollbar*/

/*nav bar styles*/
main {
  margin-left: 5rem; /*based on font-size*/
}

.navbar {
  position: fixed; /*always follow user*/
  background: var(--bg-primary);
  transition: width 100ms;
  z-index: 5;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 300ms;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.icon {
  font-size: 2rem;
  color: lightskyblue;
  transition: 300ms;
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: lightskyblue;
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: transform 500ms;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/*navbar on large screens display a text*/
@media only screen and (min-width: 600px) {
  /*navbar*/
  .page {
    margin-left: 6rem;
  }
  .navbar {
    border-right: 3px solid lightskyblue;
    top: 0;
    width: 5rem;
    height: 100vh; /*vh is size of viewport/browser window*/
  }

  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover .link-text {
    display: inline;
    transition: opacity 300ms;
  }
}

/*navbar goes into the bottom for mobile screens*/
@media only screen and (max-width: 600px) {
  /*Nav bar*/
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    border-top: 3px solid lightskyblue;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }

  /*add 5 rem to container so we can see last few lines*/
  .container {
    margin-bottom: 6rem;
  }
}

/*end navbar styles*/

/*transition styles*/
.page-enter {
  opacity: 0;
  transform: scale(1.2);
}

.page-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 600ms, transform 300ms;
  transition-delay: 200ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1.1);
}

.page-exit-active {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 600ms, transform 300ms;
  transition-delay: 200ms;
}
/*end transition styles*/

/*reusable styles*/
.card {
  padding: 20px;
  margin-left: 10%;
  width: 70%;
  height: 70%;
  border-radius: 16px;
  box-shadow: -1.5rem 0 3rem #000;
  transition: all 0.5s ease-in-out;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.unclickableCard:hover {
  transform: scale(1);
  border: 1px solid lightskyblue;
  cursor: default;
}

/*card takes whole screen for small screens*/
@media only screen and (max-width: 600px) {
  .card {
    margin: 0;
    width: 90%;
  }

  /*Dont scale the cards on mobile*/
  .card:hover {
    transform: scale(1);
    cursor: pointer;
  }
}

.left {
  margin-left: 10%;
}

/*the slider buttons*/
.button1 {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}
.button1:hover {
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}
.selectedButton {
  background-color: lightSkyBlue;
  color: black;
  font-weight: bold;
}
/*end resusable styles*/

/*Home/Contact page*/
.title {
  margin-left: 3rem;
  font-size: 1.5rem;
}

.contactLink {
  margin: 10px;
  font-size: 7vh;
  color: white;
}
.contactLink:hover {
  color: lightskyblue;
}

.contacts {
  display: flex;
  flex-direction: row;
}
.name {
  padding: 0;
  margin-left: 10%;
  font-size: 4rem;
  font-family: Brush Script MT;
  width: 20rem;
  border-right: 0.1em solid lightskyblue;
}

/*large screens*/
/*typing animation on large screens*/
@media only screen and (min-width: 800px) {
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 30%;
    }
  }
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: lightskyblue;
    }
  }

  .animated-home .name {
    overflow: hidden;
    border-right: 0.1em solid lightskyblue;
    white-space: nowrap;
    margin: 0 auto;
    animation: typing 2s steps(40, end), blink-caret 0.9s step-end 6;
  }
}

/*end homepage*/

/*skills page*/
/*skills animation */
.skillsRow {
  display: block;
  animation-name: animateIn;
  animation-duration: 1s;
  animation-delay: calc(var(--animation-order) * 100ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.skillsRow + .skillsRow {
  margin-top: 16px;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    width: 0;
    transform: scale(1.4) translateY(-8px);
  }

  100% {
    opacity: 1;
    width: 100%;
  }
}
